[submodule "modules/android-sdk"]
	path = modules/android-sdk
	url = ssh://git@stash.spielmeister.com:7999/SPELLANDROID/android-sdk.git
[submodule "modules/jdk"]
	path = modules/jdk
	url = ssh://git@stash.spielmeister.com:7999/SPELLCOMMON/jdk.git
