[submodule "modules/android-sdk"]
	path = modules/android-sdk
	url = ssh://git@stash.spielmeister.com:7999/SPELLANDROID/android-sdk.git
[submodule "modules/jdk"]
	path = modules/jdk
	url = ssh://git@stash.spielmeister.com:7999/SPELLCOMMON/jdk.git
[submodule "modules/native-android"]
	path = modules/native-android
	url = ssh://git@stash.spielmeister.com:7999/spellandroid/native-android.git
[submodule "modules/native-core"]
	path = modules/native-core
	url = ssh://git@stash.spielmeister.com:7999/spellcommon/native-core.git
