[submodule "modules/native-core"]
	path = modules/native-core
	url = https://github.com/Spielmeister/native-core.git
[submodule "modules/native-android"]
	path = modules/native-android
	url = https://github.com/Spielmeister/native-android.git
